
.box-simple {
    background-color: color-mix(in oklab, var(--color-white) 22%, transparent);
    border-style: var(--tw-border-style);
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--color-green-300);
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.box-standard {
    background-color: color-mix(in oklab, var(--color-white) 50%, transparent);
    border-style: var(--tw-border-style);
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--color-yellow-300);
    transition: all 0.3s ease;

}

.box-advanced {
    background-color: color-mix(in oklab, var(--color-white) 70%, transparent);
    border-style: var(--tw-border-style);
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--color-red-300);
    transition: all 0.3s ease;

}


.box-simple:hover {
    cursor: pointer;
}

@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
}