
.box-simple {
    background-color: color-mix(in oklab, var(--color-white) 60%, transparent);
    border-style: var(--tw-border-style);

    border-radius: 20px;
    
    transition: all 0.3s ease;

}

.box-standard {
    background-color: color-mix(in oklab, var(--color-white) 80%, transparent);
    border-style: var(--tw-border-style);

    border-radius: 20px;

    transition: all 0.3s ease;

}

.box-advanced {
    background-color: color-mix(in oklab, var(--color-white) 70%, transparent);
    border-style: var(--tw-border-style);

    border-radius: 20px;

    transition: all 0.3s ease;

}


.box-simple:hover {
    cursor: pointer;
}

@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
}